---
- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Reset UFW to defaults
  ufw:
    state: reset

- name: Allow SSH
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Allow HTTP
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow HTTPS
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Allow Portainer
  ufw:
    rule: allow
    port: '9000'
    proto: tcp

- name: Allow Portainer HTTPS
  ufw:
    rule: allow
    port: '9443'
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny

- name: Display UFW status
  command: ufw status verbose
  register: ufw_status
  changed_when: false

- debug:
    msg: "{{ ufw_status.stdout_lines }}"